.open-sans-body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    max-width: 1600px;
    margin: 0 auto;
  }
.nav-logo-r{
    color: #FD6E0A;
  }
  .nav-logo{
    font-size: 45px;
    font-weight: 800;
    padding-left: 100px;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    background-color: #FFF8F3;
    padding-top: 35px;
    
  }
  .navbar li{
    list-style: none;
    margin-right: 30px;
  }
  .navbar li a{
    text-decoration: none;
    color: #474747;
    font-weight: 400;
    font-size: 20px;
  }

  .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;

  }

  .btn-primary{
    color: #fff;
    background-color: #FD6E0A;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;

  }



  /* Banner styles */
  .banner{
    display: flex;
    padding-top: 80px;
    /* margin: 0 auto; */
    /* max-width: 1600px; */
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    }
  .btn-secondary{
    color: #FD6E0A;
    /* background-color: #FD6E0A; */
    padding: 8px 15px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;

  }
  .banner-text {
    padding-left: 110px;
    width: 976px;
    height: 355px;
    /* width: 50%; */
}
  .banner-text h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    padding: 30px 0;
  }
  .banner-text h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    padding: 30px 0;
  }
  .banner-text p{
    font-size: 24px;
    font-weight: 400;
    color: #757575;
    padding: 30px 0;
  }
  .navbar-banner-bg{
    background-color: #FFF8F3;
  }



  /* About section style start */
  .about{
    width: 1140px;
    height: 550px;
    background-color: #FFF8F3;
    margin: 100px auto;
    text-align: center;
    padding: 130px 155px;
    
  }

  .about-me-content h3{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 30px;
    color: #181818;
  }
  .about-me-content p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .about-me-introduce{
    display: flex;
    justify-content: space-around;
    
  }
.introduce-item h3{
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
.introduce-item p{
  font-size:20px;
  font-weight:400;
}
  
  /* About section style end */